.navbar-inverse {
    background-color:#222;
    border-color:#080808
}
body {



font-family: 'Poppins',sans-serif;

}
.btn-primary:hover{
  background-color: #330099;
  border: 1px solid #330099;
}
.gif{
  max-width:100%
}
